/*--------------------------------------
	Basic fonts
---------------------------------------*/	
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600|Great+Vibes');


body {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	color: 555;
}


.section-padding {
	padding: 90px 0 25px;
}



/*--------------------------------------
	header
---------------------------------------*/	
header {
	position: relative;
}

header .banar {
	background: url(../images/header.jpg) no-repeat center center / cover;
	height: 600px;
	color: #fff;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 767px) {
	header .banar {
		height: 500px;
	}
}

.banar:before {
	content: "";
	background-color: rgba(0,0,0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.banar .container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
	.banar .container {
		width: 100%;
	}
}

.banar h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 90px;
}

@media only screen and (max-width: 991px) {
	.banar h1 {
		font-size: 75px;
	}
}


@media only screen and (max-width: 767px) {
	.banar h1 {
		font-size: 60px;
	}
}

.banar h3 {
	font-size: 20px;
	letter-spacing: 3px;
	margin-bottom: 2em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

@media only screen and (max-width: 767px) {
	.banar h3 {
		font-size: 18px;
		letter-spacing: 2px;
	}
}

.banar p {
	font-size: 18px;
	line-height: 1.7em;
	font-weight: 300;
}

@media only screen and (max-width: 991px) {
	.banar p {
		font-size: 16px;
	}
}


/*** demo section ***/
.choose-demo {
	text-align: center;
	margin-bottom: 60px;
}

.choose-demo h2 {
	font-size: 38px;
	font-weight: 600;
	text-transform: uppercase;
    display: inline-block;
	margin: 0;	
    padding: 0 10px 0.3em;	
    border-bottom: 1px solid #a5a2a2;
    color: #444343;
}

@media only screen and (max-width: 991px) {
	.choose-demo h2 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.choose-demo h2 {
		font-size: 25px;
	}
}

.demo .all-demo > .col {
	margin-bottom: 65px;
}

@media only screen and (max-width: 600px) {
	.demo .all-demo > .col {
		width: 100%;
	}
}

.demo .grid {
	text-align: center;
	box-shadow: 0 0 5px #b5b4b4;
}

.demo .demo-img {
	position: relative;
	overflow: hidden;
}

.demo .demo-img a {
	display: block;
	position: relative;
	z-index: 10;
}

.demo .demo-img a:before {
	content: "";
	background: rgba(94,154,142, 0.95);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -50%;
	-webkit-transition: 0.3s  ease-in-out;
	transition: 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.demo .grid:hover .demo-img a:before {
	top: 0;
	opacity: 1;
	visibility: visible;
}

.demo .demo-img a:after {
	content: "Preveiw Demo";
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

@media only screen and (max-width: 991px) {
	.demo .demo-img a:after {
		font-size: 17px;
	}
}

@media only screen and (max-width: 767px) {
	.demo .demo-img a:after {
		font-size: 16px;
	}
}

.demo .demo-title  {
	text-align: center;
	border-top: 1px solid #e8e8e8;
	padding: 15px 0 15px;
}

.demo .demo-title h5 {
	font-size: 17px;
	font-weight: 600;
	color: #505050;
	margin: 0;
	text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
	.demo .demo-title h5 {
		font-size: 16px;
	}
}

@media only screen and (max-width: 767px) {
	.demo .demo-title h5 {
		font-size: 15px;
	}
}


/*** footer ***/
footer {
	background: #5e9a8e;
	text-align: center;
	padding: 80px 0;
}

@media only screen and (max-width: 767px) {
	footer {
		padding: 60px 0;
	}
}

footer h2 {
	font-size: 30px;
	font-weight: 600;
	color: white;
	margin: 0;
	text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
	footer {
		font-size: 25px;
	}
}

footer p {
	font-size: 17px;
	color: white;
	margin: 1em 0 0;
}